body {
  font-family: 'Raleway', sans-serif;
  position: relative;
}

.mobile_menu {
  display: none;
  margin: 0 auto;
  width: 30px;
  position: absolute;
  -webkit-transform: translate -50%;
          transform: translate -50%;
  left: 50%;
}

.mobile_menu input {
  display: none;
}

.mobile_menu div {
  height: 10px;
  background: red;
  margin-bottom: 5px;
}

.mobile_menu .sub_menu {
  display: none;
  height: auto;
  width: 200px;
}

.mobile_menu .sub_menu ul li {
  list-style: none;
}

.mobile_menu input:checked ~ div {
  display: block;
}

.menu {
  width: 300px;
  height: 100%;
  background: blue;
  position: absolute;
  top: 0;
  left: -290px;
  -webkit-transition: left ease 0.4s;
  transition: left ease 0.4s;
}

.menu:hover {
  left: 0;
}

.menu a {
  color: white;
  font-size: 20px;
}

.menu .list {
  position: fixed;
  top: 0;
  height: 100px;
  width: 300px;
  padding: 0;
  margin: 0;
  text-align: center;
}

p {
  color: lightgrey;
  font-size: 24px;
}

header {
  height: 700px;
}

header img {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

h1, h2 {
  color: blue;
}

.about_team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_team img {
  width: 500px;
  margin-right: 10px;
}

.about_team .read_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 75px;
  background: blue;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.wrap_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery_one img {
  width: 23%;
  height: 240px;
}

.gallery_two img {
  width: 31%;
  height: 240px;
}

.gallery_three img {
  width: 23%;
  height: 240px;
}

.contacts .discribe {
  display: inline-block;
  width: 300px;
}

.contacts form {
  display: inline-block;
  width: 500px;
  padding: 0 20px;
}

.contacts input {
  width: 100%;
}

@media (min-width: 320px) and (max-width: 750px) {
  .mobile_menu {
    display: block;
  }
  .menu {
    display: none;
  }
  h1, h2 {
    color: red;
    text-align: center;
    font-size: 30px;
  }
  p {
    color: black;
    font-size: 25px;
  }
  .about_team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about_team img {
    width: 100%;
  }
  .wrap_img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrap_img img {
    width: 70%;
    margin-bottom: 10px;
  }
}

@media (max-width: 440px) {
  .menu {
    left: -190px;
    width: 200px;
  }
}
/*# sourceMappingURL=index.css.map */